.btn {
    width: 210px;
    height: 59px;
    border: none;
    background: $main-green;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #F6F6F5;
    font-family: 'Garamond';
    cursor: pointer;
}