@media (max-width: 1270px) {
    .container {
        width: 900px;
    }

    .header {
        &__logo {
            margin-right: 70px;
            ;
        }

        &__list {
            margin-right: 70px;
        }

        &__item {
            font-size: 18px;
        }

        &__phone {
            a {
                font-size: 18px;
            }
        }
    }

    .promo {
        &__title {
            font-size: 42px;
            line-height: 48px;
            text-align: center;

            &::before {
                top: -66px;
                left: 14px;
                width: 250px;
                height: 135px;
            }
        }

        &__descr {
            text-align: center;
            width: 430px;
            font-size: 22px;
        }

        &__order {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .steps {
        &__title {
            &::before {
                left: 24.3%;
            }
        }

        &__item {
            &:nth-child(odd) {
                &::after {
                    width: 131px;
                    height: 26px;
                }
            }

            &:nth-child(even) {
                &::after {
                    right: -58px;
                    width: 118px;
                    height: 18px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 660px;
    }

    .menu {
        display: flex;
    }

    .header {
        &__nav {
            display: none;
        }

        &__menu {
            display: block;
        }

        &__logo {
            margin-right: 95px;
        }

        &__phone {
            svg {
                margin-right: 11px;
            }
        }
    }

    .promo {
        margin-top: 115px;

        &__photo {
            display: none;
        }

        &__social {
            display: none;
        }

        &__wrapper {
            justify-content: center;
        }

        &__order {
            margin: 0;
        }

        &__title {
            &::before {
                content: url('../../img/mediumCircle.png');
                background-image: none;
                width: auto;
                height: auto;
                top: -82px;
                left: -90px;
            }
        }

        &__descr {
            margin-top: 16px;
            font-size: 16px;
            width: 400px;
        }

        &__btn {
            margin-top: 32px;
        }
    }

    .steps {
        margin-top: 101px;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__title {
            &::before {
                left: 15.3%;
            }
        }

        &__item {
            margin-right: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-child(3) {
                margin-right: 0;
            }

            &:nth-child(odd) {
                &::after {
                    background-image: none;
                }
            }

            &:nth-child(even) {
                &::after {
                    background-image: none;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                margin-top: 32px;
            }

        }

        &__img {
            top: 0;
            left: 0;
        }

        &__type {
            margin-top: 32px;
        }

        &__descr {
            margin-top: 10px;
            text-align: center;
        }
    }

    .modal {
        padding: 64px 50px;
        width: 606px;
        ;

        &__title {
            font-size: 32px;
        }

        &__form {
            label {
                font-size: 16px;
            }

            input {
                font-size: 12px;
                height: 35px;
            }
        }

        &__privacy {
            font-size: 12px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 500px;
    }

    .header {
        &__wrapper {
            justify-content: space-between;
        }

        &__menu {
            margin: 0;
        }

        &__logo {
            margin: 0;
        }

        &__phone {
            svg {
                margin: 0;
            }

            a {
                span {
                    display: none;
                }
            }
        }
    }

    .promo {
        margin-top: 64px;

        &__title {
            font-size: 38px;

            &::before {
                content: '';
            }
        }
    }

    .steps {
        &__title {
            font-size: 38px;

            &::before {
                left: 6.3%;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 24px;
            row-gap: 32px;
        }

        &__item {
            margin: 0;

            &:nth-child(4),
            &:nth-child(5) {
                margin: 0;
            }

            &:nth-child(5) {
                grid-column-start: 1;
                grid-column-end: 3;
                justify-self: center;
            }
        }
    }

    .modal {
        padding: 45px 50px;
        width: 500px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 290px;
    }

    .header {
        margin-top: 16px;

        &__logo {
            width: 80px;
            height: 50px;
        }

        &__menu {
            span {
                width: 21px;
                margin-bottom: 2.7px;
            }
        }
    }

    .promo {
        &__title {
            width: 177px;
            font-size: 25px;
            line-height: 28px;
        }

        &__descr {
            font-size: 12px;
            line-height: 20px;
            width: 206px;
        }
    }

    .steps {
        margin-top: 73px;

        &__title {
            font-size: 20px;
            line-height: 22px;

            &:before {
                left: 10%;
                width: 47px;
            }
        }

        &__wrapper {
            margin-top: 32px;
            grid-template-columns: auto;
        }

        &__item {
            width: 125px;

            &:nth-child(5) {
                grid-column-end: 2;
            }
        }

        &__img {
            width: 40px;
        }

        &__type {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            line-height: 20px;
        }

        &__descr {
            margin-top: 8px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    .close {
        svg {
            height: 14px;
            width: 14px;
        }
    }

    .menu {
        padding: 16px;

        &__close {
            top: 16px;
            right: 19px;
        }

        &__logo {
            width: 80px;
            height: 54px;
        }

        &__list {
            margin-top: 25px;
        }

        &__item {
            margin-top: 12px;

            a {
                font-size: 14px;
            }
        }

        &__social {
            margin-top: 35px;

            &_item {
                width: 25px;
                height: 25px;
            }

            a {
                font-size: 14px;
            }

            .icon-twitter {
                &::before {
                    font-size: 12px;
                }
            }

            .icon-youtube {
                &::before {
                    font-size: 10px;
                }
            }
        }
    }

    .modal {
        padding: 56px 15px;
        width: 100%;
        height: 100%;

        &__title {
            font-size: 25px;
            line-height: 28px;

            &:after {
                left: -40px;
                content: url('../../img/mobileCircle.png');
            }
        }

        &__form {
            label {
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__privacy {
            font-size: 10px;
            line-height: 11px;
        }

        &__close {
            right: 15px;
            top: 16px;
        }
    }
}